@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --color01: #FF4654;
    --color02: #191B2A;
    --color03: #ECE8E1;
}

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--color02);
    color: var(--color03);
    font-size: 20px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.header {
    width: 100%;
    height: 100vh;
    color: var(--color03);
    overflow: hidden;
    position: relative;
}

.header #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./imgs/bg.jpg');
    opacity: 0.2;
}

.header #agent-image {
    position: absolute;
    right: -400px;
    top: -100px;
    width: 100%;
}

.header #agent-background {
    position: absolute;
    right: -100px;
    top: -100px;
}

.header .card-legal {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 15px;
    border-radius: 0;
    border: 3px solid var(--color01);
    max-width: calc(100% - 90px);
    background-color: #191B2Ae3;
}

.header #logo h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
    color: var(--color01);
}

.header #logo h2 {
    font-size: 98px;
    line-height: 90px;
    margin: 0;
}

.header .y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    z-index: 9;
}

.header #slogan {
    max-width: 400px;
}

#buttons button {
    border: 0;
    border-radius: 50px;
    padding: 10px 25px;
    transition: .2s;
    cursor: pointer;
}

#buttons a {
    margin-right: 5px;
}

#buttons button svg {
    width: 24px;
    margin-right: 5px;
    margin-bottom: -6px;
}

#buttons button span {
    width: 24px;
    font-size: 18px;
}

#buttons button.color01 {
    background-color: var(--color01);
    color: var(--color03);
}

#buttons button.color01 svg {
    fill: var(--color03);
    margin-bottom: -3px;
}

#buttons button:hover {
    background-color: #aaa6a0;
}

#buttons button.color01:hover {
    background-color: #a7313b;
}

#buttons {
    margin-top: 30px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.row .col {
    width: 100%;
}

.row .col h1 {
    margin: 0;
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 60px;
    color: var(--color01);
    margin-bottom: 25px;
}

.row .col p {
    font-size: 20px;
}

.row .col .content {
    max-width: 75%;
    margin-left: 10%;
}

#contents .row {
    border-bottom: 1px solid #131527;
}

@media screen and (max-width: 600px) {
    html, body {
        font-size: 18px;
    }

    .card-legal {
        font-size: 16px;
    }

    .row .col .content {
        max-width: 100%;
        margin-left: 0%;
    }

    .row .col h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .row .col p {
        font-size: 18px;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }

    .container {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .header .y-center {
        transform: none;
        top: 0;
        width: calc(100% - 30px);
        border-radius: 0;
        height: 100vh;
        background-color: #191b2ad2;
        padding: 15px;
        text-align: center;
    }

    .header #buttons button {
        margin-bottom: 15px;
        width: 100%;
    }

    .header #buttons {
        margin-top: 30px;
    }

    .header .card-legal {
        z-index: 99;
        left: 15px;
        bottom: 15px;
        padding: 10px;
        max-width: calc(100% - 60px);
        text-align: center;
    }

    .header #agent-background {
        right: -150px;
    }

    .header #agent-image {
        right: -400px;
        width: 250%;
    }
}